



#dpp img,
#direx img,
#editais img {
    width: 130px;
    height: 148px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#dpp {
    float: left;
}

.descricao {
    width: 172px;
    height: 40px;
    text-align: center;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
}

.descricao p {
    font-style: normal;
    font-weight: normal;
    font-size: 11pt;
    line-height: 162%;
    color: #222;
}

.botao-acessar {
    width: 78px;
    height: 29px;
    background-color: #EAEBEE;
    border: 1px solid #222;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    display: block;
    padding-top: 5px;
    text-decoration: none;
    color: #222;
    font-family: 'Open Sans';
    font-size: 10pt;
    font-weight: 600;
}

#direx {
    float: right;
    width: 200px;
}

#descricao-direx {
    width: 200px;
    height: 40px;
}

#descricao-editais {
    padding-top: 12px;
}
